

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f0f0f0;
}

.auth-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px;
  background-color: rgb(199, 194, 194);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  min-width: 350px;
}


.auth-box h2 {
  margin: 0;
  text-align: center;
}


.auth-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}


.auth-input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  box-sizing: border-box;
}


.auth-input.error {
  border: 1px solid red;
}


.error-text {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}


.auth-button {
  padding: 12px;
  border-radius: 6px;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.auth-footer {
  text-align: center;
  font-size: 14px;
}

.auth-footer a {
  color: #007bff;
  text-decoration: none;
}

.auth-footer a:hover {
  text-decoration: underline;
}
